# Test Results

## Integration Test
```python
python3 tests/integration_test_top_detected_by_geo.py
```
![Alt text](https://drive.google.com/uc?export=view&id=1ToFzYnsvqjBbs5Pt_FAiB1NQXEpUF9Lv)

## Functionality Test
```python
python3 tests/functionality_test_TopDetectedOperator.py
```
![Alt text](https://drive.google.com/uc?export=view&id=1dQFGdBfx1UbVrtvaxTdLqxHAGTzAFekZ)

## Flake8 Linting
```python
flake8 lib/ pipelines/ tests/
```
![Alt text](https://drive.google.com/uc?export=view&id=1pYRnSPLSWMqEOXjqwMHHd_3IzClXz9oR)